* {
  background-color: #121212;
  color: white;
  font-family:  Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body{
  padding: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
hr{
  background-color: whitesmoke;
  border-radius: 5px;
}

input{
  background-color: snow;
  border-radius: 5px;
  border: solid 2px gray;
  color: gray;
  font-size: large;
  height: 1.5rem;
  width: 100%;
  width: 50%;
}

.card {
  align-content: center;
  align-items: center;
  border-radius: 6px;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4px;
  overflow: hidden;
  padding: .5rem;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card p {
  padding: 1px;
  text-align: center; 
}
.card img{
  display: block;
  margin: auto;
  max-width: 70%;
}

.arrow{
  font-size: 2.5rem;
  cursor: pointer;
}