* {
  font-family:  Helvetica, Arial, sans-serif;
}

body{
  padding: 50px;
}

input{
  width: 100%;
  font-size: large;
  color: gray;
}

.card {
  align-content: center;
  border-radius: 6px;
  border: 1px solid grey;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  justify-content: center;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card p {
  padding: 2px;
  text-align: center; 
}
.card img{
  max-width: 80%;
  display: block;
  margin: auto;
}